<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/check" method="post">
        <div class="form-group">
            <label for="number">Numbers</label>
            <input type="text" name="numbers" placeholder="1st">
            <input type="text" name="numbers" placeholder="2nd">
            <input type="text" name="numbers" placeholder="3rd">
            <input type="text" name="numbers" placeholder="4th">
            <input type="text" name="numbers" placeholder="5th">
            <input type="text" name="numbers" placeholder="6th">
        </div>
        <button type="submit">확인</button>
    </form>
</div>
</body>
</html>